<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user_profile.user.email %>
</p>

<p>
  <strong>Body:</strong>
  <%= @user_profile.body %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
